Repository dahlia-jazzes0/study-hospital: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{js,jsx,json,css,md,yml,yaml}'
      stage_fixed: true
    eslint:
      run: npx eslint --fix {staged_files}
      glob: '*.{js,jsx}'
      stage_fixed: true

aria-label 추가 및 컴포넌트를 함수 밖으로 빼기
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

renderStepContent 컴포넌트로 분리
  src/pages/join-page.jsx
Due: prettier, eslint

회원가입약관 추가
  src/pages/join-page.jsx
Due: prettier, eslint

style: base.css 수정
  src/shared/styles/base.css
Due: prettier

feat: header 추가
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
Due: prettier, eslint

feat: header 내부 nav 추가
  src/shared/ui/navigation-view.jsx
  src/shared/ui/navigation-view.module.css
Due: prettier, eslint

style: font-weight 속성 변경
  src/shared/styles/base.css
  src/shared/ui/header-view.module.css
  src/shared/ui/navigation-view.module.css
Due: prettier

fix: base.css에 잘못 들어간 폰트 설정 제거
  src/shared/styles/base.css
Due: prettier

fix: base.css에 잘못 들어간 폰트 설정 제거 (#7)
  src/shared/styles/base.css
Due: prettier

style: font-weight 속성 되돌림
  src/shared/ui/header-view.module.css
  src/shared/ui/navigation-view.module.css
Due: prettier

feat: header 치료후기 경로 변경
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

feat: 메뉴 Link > NavLink 변경
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

chore: react-router-dom 패키지 추가
  package-lock.json
  package.json
Due: prettier

font-variation-settings > font-weight 수정
  src/pages/join-page.css
Due: prettier

버튼/페이지 이동시 페이지 상단으로 이동
  src/pages/join-page.jsx
  src/pages/login-page.jsx
Due: prettier, eslint

feat: 로고 컴포넌트 추가
  src/shared/styles/base.css
  src/shared/ui/logo/logo-view.jsx
  src/shared/ui/logo/logo-view.module.css
Due: prettier, eslint

login-page css 모듈로 변경
  src/pages/login-page.jsx
  src/pages/login-page.module.css
Due: prettier, eslint

join-page css 모듈로 변경
  src/pages/join-page.jsx
  src/pages/join-page.module.css
  src/pages/login-page.module.css
Due: prettier, eslint

feat: 로그인/회원가입 UI 구현 및 입력 유효성 검사 기능 추가 (#4)
  public/logo.png
  public/pwd-eye-1.png
  public/pwd-eye-2.png
  src/app/app-view.jsx
  src/pages/join-page.css
  src/pages/join-page.jsx
  src/pages/login-page.css
  src/pages/login-page.jsx
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

fix: 사용하지 않는 css 파일 제거
  src/pages/join-page.css
  src/pages/login-page.css
Due: prettier

feat: 로고 컴포넌트 추가 (#9)
  src/shared/styles/base.css
  src/shared/ui/logo/logo-view.jsx
  src/shared/ui/logo/logo-view.module.css
Due: prettier, eslint

style: clamp 관련 코드 삭제 (pr 나누기)
  src/shared/styles/base.css
Due: prettier

chore: 이미지 파일 확장자 변경 (.svg > .png)
  public/images/logo-footer.png
  public/images/logo-footer.svg
  public/images/logo.png
  public/images/logo.svg
  public/images/membership-icon.png
  public/images/membership-icon.svg
Due: none

chore: 이미지 파일 확장자 변경 (.svg > .png)
  public/images/logo-footer.png
  public/images/logo-footer.svg
  public/images/logo.png
  public/images/logo.svg
  public/images/membership-icon.png
  public/images/membership-icon.svg
  src/shared/ui/header-view.module.css
Due: prettier

chore: 에셋 경로 수정
  src/shared/ui/header-view.jsx
  src/shared/ui/header-view.module.css
Due: prettier, eslint

style: 의료진 소개 페이지 font-weight 수정
  src/pages/doctors/doctor-card.module.css
Due: prettier

chore: import 경로 관련 코드 개선
  src/shared/ui/header-view.jsx
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

진료 안내 및 층별 안내 html, css 추가
  index.html
  public/img/056f9d60979e073efaf180e7d046d20460ed384b.png
  public/img/10d89c0b66a97399c6153f33d2cdc9a95bd3236b.png
  public/img/16f8715f1145134152d5f70897fcc0903137b655.png
  public/img/669c4c23eda5607784bf93db4856428b3991f177.png
  public/img/750fe1959b0fe3dd3df670b27f244bce994414c1.png
  public/img/8ad49fd9c784c70912227f9950f4b9feffa807c0.png
  public/img/915e00245354be5660fe1bf5d3e65edf62e5c594.png
  public/img/96141bc2ec05dcf13c4dc1d3f6fd10ce608e3afb.png
  public/img/afddc78bdacb6cb73d043d9a005eaf636b1008fb.png
  public/img/b7eb6d4db82cd12ea15091b2b1f46ac605e8b7c6.png
  public/img/cefd4e2c3b2f6927b195ac2eb28de3e4e14e9d8e.png
  public/img/dc094e92d75f451010eee6584209e444aaa492dd.png
  public/img/e4f081fa8aabf79c8c0d952aa4d0c3518bd6f33a.png
  public/img/f3373a2caff4cc63cc2c1da2130d61e4c938c131.png
  src/shared/styles/base.css
Due: prettier

fix: Join page JSX -> 컴포넌트 사용으로 변경 (#5)
  src/pages/join-page.jsx
  src/pages/join-page.module.css
  src/pages/login-page.jsx
  src/pages/login-page.module.css
Due: prettier, eslint

fix: 멤버쉽 버튼 클릭 > 로그인 페이지 이동
  src/app/app-view.jsx
Due: prettier, eslint

의료진 소개 페이지 css 수정 & doctor-card.jsx 리팩토링
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
Due: prettier, eslint

appointment page HTML markup & CSS 작업
  package-lock.json
  package.json
  src/app/app-view.jsx
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

appointment-page timeTable button을 li로 감쌈
  src/pages/appointment/appointment-page.jsx
  src/pages/appointment/appointment-page.module.css
Due: prettier, eslint

review-page.jsx pr피드백 반영 수정
  src/pages/home-page.jsx
  src/pages/review/review-page.jsx
Due: prettier, eslint

review-page css 모듈화
  src/pages/review/review-page.jsx
  src/pages/review/review-page.module.css
Due: prettier, eslint

feat(images): 이미지 추가
  public/images/ico-sns-in.png
  public/images/ico-sns-nb.png
Due: none

feat: footer 추가
  src/app/layout.jsx
  src/shared/ui/footer-view.jsx
  src/shared/ui/footer-view.module.css
Due: prettier, eslint

style: px > rem 변경
  src/shared/ui/footer-view.module.css
Due: prettier

feat(images): 이미지 추가
  public/images/ico-sns-in.png
  public/images/ico-sns-nb.png
  public/images/logo-footer.png
  public/images/logo-footer.svg
  public/images/logo.svg
  public/images/membership-icon.svg
Due: none
