Repository dahlia-jazzes0/study-hospital: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    prettier:
      run: npx prettier --write {staged_files}
      glob: '*.{js,jsx,json,css,md,yml,yaml}'
      stage_fixed: true
    eslint:
      run: npx eslint --fix {staged_files}
      glob: '*.{js,jsx}'
      stage_fixed: true

로그인 페이지 파일 생성
  src/app/app-view.jsx
  src/pages/login-page.jsx
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

fix: NavLink의 기본 동작과 겹치는 className 속성 제거
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

chore: package.json이 변경 될 때마다 `npm install`을 자동 실행
  lefthook.yml
Due: prettier

로그인 html 틀 구현
  public/logo.png
  src/pages/login-page.jsx
Due: prettier, eslint

로그인페이지 css 구현
  src/pages/login-page.css
  src/pages/login-page.jsx
Due: prettier, eslint

로그인 html 전체 틀, css input 텍스트 값 수정
  src/pages/login-page.css
  src/pages/login-page.jsx
Due: prettier, eslint

로그인 css font-size 수정
  src/pages/login-page.css
Due: prettier

로그인 css clamp을 사용한 반응현 구현
  src/pages/login-page.css
Due: prettier

join step2 html,css 구현
  src/app/app-view.jsx
  src/pages/join-page.css
  src/pages/join-page.jsx
  src/pages/login-page.jsx
Due: prettier, eslint

join-page 표1열 폰트 사이즈 수정
  src/pages/join-page.css
Due: prettier

join-page step1 동의여부체크
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page 표 랜더링함수로 수정
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step3으로 이동
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step3 버튼삭제
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step3 html 구현
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step3 css 구현
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step3 버튼 클릭시 페이지 이동
  src/pages/join-page.jsx
Due: prettier, eslint

ci: 리뷰어 랜덤 배정 깃허브 액션 추가
  .github/workflows/reviewer-roulette.yml
Due: prettier

join-page 유효성 검사
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

feat: 의료진 소개 페이지 구현
  public/images/arrow.png
  public/images/doctor-1.png
  public/images/doctor-2.png
  public/images/doctor-3.png
  public/images/doctor-4.png
  public/images/doctor-5.png
  public/images/doctor-6.png
  public/images/doctor-7.png
  src/app/app-view.jsx
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctor-detail.jsx
  src/pages/doctors/doctors-page.jsx
Due: prettier, eslint

login-page 패스워드 기능구현
  public/pwd-eye-1.png
  public/pwd-eye-2.png
  src/pages/login-page.css
  src/pages/login-page.jsx
Due: prettier, eslint

login-page 패스워드 기능구현
  src/pages/login-page.css
Due: prettier

feat: 네비게이션 Doctors 링크 추가
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

chore: package.json이 변경 될 때마다 `npm install`을 자동 실행 (#1)
  lefthook.yml
Due: prettier

ci: 리뷰어 랜덤 배정 깃허브 액션 추가 (#3)
  .github/workflows/reviewer-roulette.yml
Due: prettier

login-page, join-page 페이지 이동 버튼클릭시 페이지 상단으로 이동
  src/pages/join-page.jsx
  src/pages/login-page.jsx
Due: prettier, eslint

NavLink의 기본 동작과 겹치는 className 속성 제거
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

login-page Link 컴포넌트 사용
  src/pages/login-page.css
  src/pages/login-page.jsx
Due: prettier, eslint

login-page 비밀번호 표시 아이콘 삼항연산자로 수정
  src/pages/login-page.jsx
Due: prettier, eslint

join-page 이동시 상단이동
  src/pages/join-page.jsx
Due: prettier, eslint

join-page 수정 브랜치생성
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page 단계별 틀 구현
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page step1,3 UI 구현
  src/pages/join-page.css
  src/pages/join-page.jsx
Due: prettier, eslint

join-page 회원가입 step2 UI 구현
  src/pages/join-page.jsx
Due: prettier, eslint

NavLink -className 속성 제거
  src/shared/ui/navigation-view.jsx
Due: prettier, eslint

리뷰 페이지 html, css 작업
  package-lock.json
  package.json
  src/app/app-view.jsx
  src/pages/home-page.jsx
  src/pages/review/review-page.css
  src/pages/review/review-page.jsx
Due: prettier, eslint

review-page.jsx 태그 수정
  src/pages/review/review-page.css
  src/pages/review/review-page.jsx
Due: prettier, eslint

style: 의료진 소개 페이지 CSS 수정
  src/pages/doctors/doctor-card.jsx
  src/pages/doctors/doctor-card.module.css
  src/pages/doctors/doctors-page.jsx
Due: prettier, eslint

style: 의료진 소개 페이지 수정
  src/pages/doctors/doctor-card.module.css
Due: prettier

feat(images): 이미지 추가
  public/images/logo-footer.svg
  public/images/logo.svg
  public/images/membership-icon.svg
Due: none
